<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BCM</title>
    <link rel="shortcut icon" href="data:image/x-icon;,"type="image/x-icon">
    <link rel="stylesheet" href="/styles.css" type="text/css"> <!-- Link to your CSS file -->
    <style>
        /* Centering styles */
        .content-container {
            text-align: center;
            margin: 0 auto; /* Center horizontally */
            max-width: 1000px; /* Limit content width */
            padding: 0 20px; /* Add some padding */
        }
        header {
            text-align: center; /* Center the text within the header */
        }
        #bcform {
            text-align: left;
        }
        .form-grid {
            display: grid;
            grid-template-columns: repeat(4, 1fr); /* Four columns in total */
            gap: 10px; /* Spacing between grid items */
            max-width: 800px;
            margin: auto;
        }
        label {
            grid-column: span 1; /* Each label occupies one column */
        }
        input, select {
            grid-column: span 1; /* Each input field occupies one column */
        }
        .full-width {
            grid-column: 1 / 5; /* Span across all four columns */
        }
        input[type="submit"] {
            width: 90%; /* Full width of the grid */
            cursor: pointer;
            padding: 5px 10px;
            background-color: #0f41e4ad;
            color: #fff;
            border: none;
            border-radius: 4px;
        }
    </style>
</head>
<body>
    <header>
        <!-- Your header content goes here -->
        <h1>Blockchain Manager</h1>
        <%- include('partials/navbar', { user: user }) %>
    </header>

    <div class="content-container">
        <main>
            <!-- Your main content goes here -->
            <h2>New User Form</h2>
            <br>
            <form id="usr" class="form-grid">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name">

                <label for="org">Organization:</label>
                <input type="text" id="org" name="org" value=<%=oname%> disabled>

                <label for="department">Department:</label>
                <input type="text" id="department" name="department" style="grid-column: span 3;">
            </form>
            <br>
            <div class="full-width">
                <input type="submit" value="Create" id="btn">
            </div>
            
        </main>
    </div>

    <script>
        function resetForms() {
            Array.from(document.forms).forEach( f => {
                f.reset();
            });
        }
        const id = <%- JSON.stringify(bid) %>;
        const oname = <%- JSON.stringify(oname) %>;
        const btn = document.getElementById('btn');
        const form = document.getElementById('usr');
        btn.addEventListener('click', async () => {
            const inputs = Array.from(form.querySelectorAll('input'));//Array.from(form.children).filter((e,j) => j % 2 !== 0);
            const user = {};
            for (let i=0; i<inputs.length; i++) {
                if (inputs[i].value === '') {
                    alert(`Field "${inputs[i].name}" should not be empty`);
                    return;
                }
                user[inputs[i].name] = inputs[i].value;
            }
            const response = await fetch(`/api/${id}/users`, {
                method: 'POST',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(user)
            });
            let data = await response.json();
            if (data.message !== undefined) {
                alert(data.message);
                resetForms();
                return;
            }
            window.location.href = `/users/?bid=${id}&oname=${oname}`;
            // reset form
            //resetForms();
        })
    </script>

    <%- include('partials/footer') %>
</body>
</html>
